/*

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.2.9.15508 from Red Gate Software Ltd at 6/29/2020 7:01:48 PM

*/
		
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[SymptomCategoryChoices]')
ALTER TABLE [dbo].[SymptomCategoryChoices] NOCHECK CONSTRAINT [FK_Choices_SymptomCategory]
ALTER TABLE [dbo].[SymptomCategoryChoices] NOCHECK CONSTRAINT [FK_SymptomCategoryChoices_SymptomCategory]

PRINT(N'Drop constraints from [dbo].[ChoicesTranslations]')
ALTER TABLE [dbo].[ChoicesTranslations] NOCHECK CONSTRAINT [FK_ChoicesTranslations_Choices]
ALTER TABLE [dbo].[ChoicesTranslations] NOCHECK CONSTRAINT [FK_ChoicesTranslations_Languages]

PRINT(N'Drop constraints from [dbo].[ChoicesKey]')
ALTER TABLE [dbo].[ChoicesKey] NOCHECK CONSTRAINT [FK_ChoicesKey_QuestionsChoices]

PRINT(N'Drop constraints from [dbo].[QuestionVersion]')
ALTER TABLE [dbo].[QuestionVersion] NOCHECK CONSTRAINT [FK__QuestionV__Quest__1A9EF37A]

PRINT(N'Drop constraints from [dbo].[QuestionsTranslations]')
ALTER TABLE [dbo].[QuestionsTranslations] NOCHECK CONSTRAINT [FK_QuestionsTranslations_Languages]
ALTER TABLE [dbo].[QuestionsTranslations] NOCHECK CONSTRAINT [FK_QuestionsTranslations_Questions]

PRINT(N'Drop constraints from [dbo].[Choices]')
ALTER TABLE [dbo].[Choices] NOCHECK CONSTRAINT [FK_Choices_Choices]
ALTER TABLE [dbo].[Choices] NOCHECK CONSTRAINT [FK_Choices_Questions]

PRINT(N'Drop constraint FK_UserSurveyAnswers_Choices from [dbo].[UserSurveyAnswers]')
ALTER TABLE [dbo].[UserSurveyAnswers] NOCHECK CONSTRAINT [FK_UserSurveyAnswers_Choices]

PRINT(N'Drop constraints from [dbo].[SurveyTranslations]')
ALTER TABLE [dbo].[SurveyTranslations] NOCHECK CONSTRAINT [FK_SurveyTranslations_Languages]
ALTER TABLE [dbo].[SurveyTranslations] NOCHECK CONSTRAINT [FK_SurveyTranslations_Survey]

PRINT(N'Drop constraints from [dbo].[Questions]')
ALTER TABLE [dbo].[Questions] NOCHECK CONSTRAINT [FK_Questions_Survey]

PRINT(N'Drop constraint FK_UserSurveyAnswers_Questions from [dbo].[UserSurveyAnswers]')
ALTER TABLE [dbo].[UserSurveyAnswers] NOCHECK CONSTRAINT [FK_UserSurveyAnswers_Questions]

PRINT(N'Drop constraints from [dbo].[WCIDContentTranslations]')
ALTER TABLE [dbo].[WCIDContentTranslations] NOCHECK CONSTRAINT [FK_WCIDContentTranslations_Languages]
ALTER TABLE [dbo].[WCIDContentTranslations] NOCHECK CONSTRAINT [FK_WCIDContentTranslations_WCIDContent]

PRINT(N'Drop constraints from [dbo].[SymptomCategoryTranslations]')
ALTER TABLE [dbo].[SymptomCategoryTranslations] NOCHECK CONSTRAINT [FK_SymptomCategoryTranslations_Languages]
ALTER TABLE [dbo].[SymptomCategoryTranslations] NOCHECK CONSTRAINT [FK_SymptomCategoryTranslations_Question]

PRINT(N'Drop constraints from [dbo].[SurveyTypeTranslations]')
ALTER TABLE [dbo].[SurveyTypeTranslations] NOCHECK CONSTRAINT [FK_SurveyTypeTranslations_Languages]
ALTER TABLE [dbo].[SurveyTypeTranslations] NOCHECK CONSTRAINT [FK_SurveyTypeTranslations_SurveyType]

PRINT(N'Drop constraints from [dbo].[Survey]')
ALTER TABLE [dbo].[Survey] NOCHECK CONSTRAINT [FK_Survey_SurveyType]

PRINT(N'Drop constraint FK_SurveyWeek_Survey from [dbo].[SurveyWeek]')
ALTER TABLE [dbo].[SurveyWeek] NOCHECK CONSTRAINT [FK_SurveyWeek_Survey]

PRINT(N'Drop constraint FK_UserSurvey_Survey from [dbo].[UserSurvey]')
ALTER TABLE [dbo].[UserSurvey] NOCHECK CONSTRAINT [FK_UserSurvey_Survey]

PRINT(N'Drop constraint FK_UserSurveyOrder_Survey from [dbo].[UserSurveyOrder]')
ALTER TABLE [dbo].[UserSurveyOrder] NOCHECK CONSTRAINT [FK_UserSurveyOrder_Survey]

PRINT(N'Drop constraints from [dbo].[BadgeTranslations]')
ALTER TABLE [dbo].[BadgeTranslations] NOCHECK CONSTRAINT [FK_BadgeTranslations_Badge]
ALTER TABLE [dbo].[BadgeTranslations] NOCHECK CONSTRAINT [FK_BadgeTranslations_Languages]

PRINT(N'Drop constraints from [dbo].[BadgeSurveyType]')
ALTER TABLE [dbo].[BadgeSurveyType] NOCHECK CONSTRAINT [FK_BadgeSurveyType_Badge]
ALTER TABLE [dbo].[BadgeSurveyType] NOCHECK CONSTRAINT [FK_BadgeSurveyType_SurveyType]

PRINT(N'Drop constraint FK_BadgeWeek_Badge from [dbo].[BadgeWeek]')
ALTER TABLE [dbo].[BadgeWeek] NOCHECK CONSTRAINT [FK_BadgeWeek_Badge]

PRINT(N'Drop constraint FK_UserBadge_Badge from [dbo].[UserBadge]')
ALTER TABLE [dbo].[UserBadge] NOCHECK CONSTRAINT [FK_UserBadge_Badge]

PRINT(N'Add 8 rows to [dbo].[Badge]')
INSERT INTO [dbo].[Badge] ([BadgeID], [BadgeEnglishDefault], [DescriptionEnglishDefault], [Method], [Sequence], [ImageName], [BadgeColor], [MaxShown], [Enabled]) VALUES (1, N'Profile', N'COMPLETE YOUR PROFILE', N'UserSurveyAnswers_Submit', 1, N'badges_profile', N'dark_blue', 1, 1)
INSERT INTO [dbo].[Badge] ([BadgeID], [BadgeEnglishDefault], [DescriptionEnglishDefault], [Method], [Sequence], [ImageName], [BadgeColor], [MaxShown], [Enabled]) VALUES (2, N'User', N'CHECK YOUR AIR QUALITY BY LAUNCHING THE APP AT LEAST ONCE PER WEEK', N'User_SetLastActive', 2, N'badges_aqi', N'dark_orange', 12, 1)
INSERT INTO [dbo].[Badge] ([BadgeID], [BadgeEnglishDefault], [DescriptionEnglishDefault], [Method], [Sequence], [ImageName], [BadgeColor], [MaxShown], [Enabled]) VALUES (3, N'Explorer', N'EARN THIS BADGE BY EXPLORING THE FIRE AND SMOKE MAP', N'UserBadge_Insert (manual)', 3, N'badges_firesmoke', N'dark_orange', 12, 1)

PRINT(N'Add 184 rows to [dbo].[Languages]')
SET IDENTITY_INSERT [dbo].[Languages] ON
INSERT INTO [dbo].[Languages] ([LanguageID], [ISO639_Code], [ISO639-2B_Code], [Description]) VALUES (1, N'ab', N'abk', N'Abkhazian')
INSERT INTO [dbo].[Languages] ([LanguageID], [ISO639_Code], [ISO639-2B_Code], [Description]) VALUES (2, N'aa', N'aar', N'Afar')
INSERT INTO [dbo].[Languages] ([LanguageID], [ISO639_Code], [ISO639-2B_Code], [Description]) VALUES (3, N'af', N'afr', N'Afrikaans')
SET IDENTITY_INSERT [dbo].[Languages] OFF

PRINT(N'Add 6 rows to [dbo].[SurveyType]')
SET IDENTITY_INSERT [dbo].[SurveyType] ON
INSERT INTO [dbo].[SurveyType] ([TypeID], [TypeEnglishDefault], [Timeframe]) VALUES (1, N'Profile', N'One time')
INSERT INTO [dbo].[SurveyType] ([TypeID], [TypeEnglishDefault], [Timeframe]) VALUES (2, N'Observations', N'Weekly')
INSERT INTO [dbo].[SurveyType] ([TypeID], [TypeEnglishDefault], [Timeframe]) VALUES (3, N'Games', N'Specific week')
SET IDENTITY_INSERT [dbo].[SurveyType] OFF

PRINT(N'Add 5 rows to [dbo].[SymptomCategory]')
SET IDENTITY_INSERT [dbo].[SymptomCategory] ON
INSERT INTO [dbo].[SymptomCategory] ([SymptomCategoryID], [Category]) VALUES (1, N'Eyes and ears')
INSERT INTO [dbo].[SymptomCategory] ([SymptomCategoryID], [Category]) VALUES (2, N'Upper respiratory')
INSERT INTO [dbo].[SymptomCategory] ([SymptomCategoryID], [Category]) VALUES (3, N'Respiratory')
SET IDENTITY_INSERT [dbo].[SymptomCategory] OFF

PRINT(N'Add 32 rows to [dbo].[WCIDContent]')
SET IDENTITY_INSERT [dbo].[WCIDContent] ON
INSERT INTO [dbo].[WCIDContent] ([ContentID], [Type], [TextEnglishDefault], [Sequence]) VALUES (4, N'secondaryHeader', N'Stay Inside and Keep the Indoor Air Clean', 1)
INSERT INTO [dbo].[WCIDContent] ([ContentID], [Type], [TextEnglishDefault], [Sequence]) VALUES (5, N'tertiaryHeader', N'Keep doors and windows closed when possible', 2)
INSERT INTO [dbo].[WCIDContent] ([ContentID], [Type], [TextEnglishDefault], [Sequence]) VALUES (6, N'popup', N'If it is too warm or there is no air conditioning, consider spending time in places that have indoor air filtration, for example, the library or other public buildings.', 3)
SET IDENTITY_INSERT [dbo].[WCIDContent] OFF

PRINT(N'Add 4 rows to [dbo].[BadgeSurveyType]')
INSERT INTO [dbo].[BadgeSurveyType] ([BadgeID], [SurveyTypeID]) VALUES (1, 1)
INSERT INTO [dbo].[BadgeSurveyType] ([BadgeID], [SurveyTypeID]) VALUES (4, 2)
INSERT INTO [dbo].[BadgeSurveyType] ([BadgeID], [SurveyTypeID]) VALUES (5, 3)

PRINT(N'Add 14 rows to [dbo].[BadgeTranslations] with non-unique comparison key')
SET ROWCOUNT 1
INSERT INTO [dbo].[BadgeTranslations] ([BadgeID], [LanguageID], [Badge], [Description]) VALUES (1, 44, N'Profile', N'COMPLETE YOUR PROFILE')
INSERT INTO [dbo].[BadgeTranslations] ([BadgeID], [LanguageID], [Badge], [Description]) VALUES (1, 149, N'MEDALLA DE INSCRIBIRSE', N'COMPLETE SU INFORMACIÓN BÁSICA ')
INSERT INTO [dbo].[BadgeTranslations] ([BadgeID], [LanguageID], [Badge], [Description]) VALUES (2, 44, N'User', N'CHECK YOUR AIR QUALITY BY LAUNCHING THE APP AT LEAST ONCE PER WEEK')
SET ROWCOUNT 0

PRINT(N'Add 42 rows to [dbo].[Survey]')
SET IDENTITY_INSERT [dbo].[Survey] ON
INSERT INTO [dbo].[Survey] ([SurveyID], [SurveyEnglishDefault], [TypeID], [Image], [Calendar], [IsYesNo]) VALUES (0, N'User Profile', 1, N'nav_icons_profile', 0, NULL)
INSERT INTO [dbo].[Survey] ([SurveyID], [SurveyEnglishDefault], [TypeID], [Image], [Calendar], [IsYesNo]) VALUES (1, N'Smoke Observations', 2, N'nav_icons_firesmoke', 0, 1)
INSERT INTO [dbo].[Survey] ([SurveyID], [SurveyEnglishDefault], [TypeID], [Image], [Calendar], [IsYesNo]) VALUES (2, N'Health Symptoms', 2, N'nav_icons_cardio', 1, 1)
SET IDENTITY_INSERT [dbo].[Survey] OFF

PRINT(N'Add 12 rows to [dbo].[SurveyTypeTranslations]')
INSERT INTO [dbo].[SurveyTypeTranslations] ([SurveyTypeID], [LanguageID], [Type]) VALUES (1, 44, N'Profile')
INSERT INTO [dbo].[SurveyTypeTranslations] ([SurveyTypeID], [LanguageID], [Type]) VALUES (1, 149, N'Perfil')
INSERT INTO [dbo].[SurveyTypeTranslations] ([SurveyTypeID], [LanguageID], [Type]) VALUES (2, 44, N'Observations')

PRINT(N'Add 5 rows to [dbo].[SymptomCategoryTranslations] with non-unique comparison key')
SET ROWCOUNT 1
INSERT INTO [dbo].[SymptomCategoryTranslations] ([SymptomCategoryID], [LanguageID], [Category]) VALUES (1, 44, N'Eyes and ears')
INSERT INTO [dbo].[SymptomCategoryTranslations] ([SymptomCategoryID], [LanguageID], [Category]) VALUES (2, 44, N'Upper respiratory')
INSERT INTO [dbo].[SymptomCategoryTranslations] ([SymptomCategoryID], [LanguageID], [Category]) VALUES (3, 44, N'Respiratory')
SET ROWCOUNT 0

PRINT(N'Add 64 rows to [dbo].[WCIDContentTranslations]')
INSERT INTO [dbo].[WCIDContentTranslations] ([ContentID], [LanguageID], [Text], [linkText], [linkURL]) VALUES (4, 44, N'Stay inside and keep the indoor air clean', NULL, NULL)
INSERT INTO [dbo].[WCIDContentTranslations] ([ContentID], [LanguageID], [Text], [linkText], [linkURL]) VALUES (4, 149, N'Quédese adentro y mantenga limpio el aire interior', NULL, NULL)
INSERT INTO [dbo].[WCIDContentTranslations] ([ContentID], [LanguageID], [Text], [linkText], [linkURL]) VALUES (5, 44, N'Keep doors and windows closed when possible', NULL, NULL)

PRINT(N'Add 153 rows to [dbo].[Questions]')
SET IDENTITY_INSERT [dbo].[Questions] ON
INSERT INTO [dbo].[Questions] ([QuestionID], [QuestionEnglishDefault], [MultiChoice], [CorrectAnswer], [SurveyID], [Sequence], [AnswerEnglishDefault], [Slider], [Summary]) VALUES (91, N'Do you commonly experience any of these symptoms? (Select all that apply)', 1, 0, 0, 7, N'', 0, 0)
INSERT INTO [dbo].[Questions] ([QuestionID], [QuestionEnglishDefault], [MultiChoice], [CorrectAnswer], [SurveyID], [Sequence], [AnswerEnglishDefault], [Slider], [Summary]) VALUES (94, N'Select conditions that currently affect your health: (Select all that apply)', 1, 0, 0, 6, N'', 0, 0)
INSERT INTO [dbo].[Questions] ([QuestionID], [QuestionEnglishDefault], [MultiChoice], [CorrectAnswer], [SurveyID], [Sequence], [AnswerEnglishDefault], [Slider], [Summary]) VALUES (97, N'On average, when you are outside, how active are you?', 0, 0, 0, 9, N'', 0, 0)
SET IDENTITY_INSERT [dbo].[Questions] OFF

PRINT(N'Add 84 rows to [dbo].[SurveyTranslations]')
INSERT INTO [dbo].[SurveyTranslations] ([SurveyID], [LanguageID], [Survey]) VALUES (0, 44, N'User Profile')
INSERT INTO [dbo].[SurveyTranslations] ([SurveyID], [LanguageID], [Survey]) VALUES (0, 149, N'Perfil de Usuario')
INSERT INTO [dbo].[SurveyTranslations] ([SurveyID], [LanguageID], [Survey]) VALUES (1, 44, N'Smoke Observations')

PRINT(N'Add 379 rows to [dbo].[Choices]')
SET IDENTITY_INSERT [dbo].[Choices] ON
INSERT INTO [dbo].[Choices] ([ChoiceID], [ChoiceEnglishDefault], [QuestionID], [Sequence], [FreeResponse], [Calendar]) VALUES (529, N'African-American/Black', 100, 2, 0, 0)
INSERT INTO [dbo].[Choices] ([ChoiceID], [ChoiceEnglishDefault], [QuestionID], [Sequence], [FreeResponse], [Calendar]) VALUES (531, N'Asian/Pacific Islander', 100, 3, 0, 0)
INSERT INTO [dbo].[Choices] ([ChoiceID], [ChoiceEnglishDefault], [QuestionID], [Sequence], [FreeResponse], [Calendar]) VALUES (535, N'Bachelors, masters, doctorate, or professional degree', 99, 3, 0, 0)
SET IDENTITY_INSERT [dbo].[Choices] OFF

PRINT(N'Add 304 rows to [dbo].[QuestionsTranslations] with non-unique comparison key')
SET ROWCOUNT 1
INSERT INTO [dbo].[QuestionsTranslations] ([QuestionID], [LanguageID], [Question], [Answer]) VALUES (91, 44, N'Do you commonly experience any of these symptoms? (Select all that apply)', N'')
INSERT INTO [dbo].[QuestionsTranslations] ([QuestionID], [LanguageID], [Question], [Answer]) VALUES (91, 149, N'¿Padece habitualmente alguno de estos síntomas? (Seleccione todas las opciones que correspondan)', N'')
INSERT INTO [dbo].[QuestionsTranslations] ([QuestionID], [LanguageID], [Question], [Answer]) VALUES (94, 44, N'Select conditions that currently affect your health: (Select all that apply)', N'')
SET ROWCOUNT 0

PRINT(N'Add 67 rows to [dbo].[QuestionVersion] with non-unique comparison key')
SET ROWCOUNT 1
INSERT INTO [dbo].[QuestionVersion] ([QuestionID], [VersionNumber]) VALUES (91, 1)
INSERT INTO [dbo].[QuestionVersion] ([QuestionID], [VersionNumber]) VALUES (91, 0)
INSERT INTO [dbo].[QuestionVersion] ([QuestionID], [VersionNumber]) VALUES (94, 0)
SET ROWCOUNT 0

PRINT(N'Add 24 rows to [dbo].[ChoicesKey]')
INSERT INTO [dbo].[ChoicesKey] ([ChoiceID], [Correct]) VALUES (832, 1)
INSERT INTO [dbo].[ChoicesKey] ([ChoiceID], [Correct]) VALUES (833, 1)
INSERT INTO [dbo].[ChoicesKey] ([ChoiceID], [Correct]) VALUES (834, 1)

PRINT(N'Add 753 rows to [dbo].[ChoicesTranslations] with non-unique comparison key')
SET ROWCOUNT 1
INSERT INTO [dbo].[ChoicesTranslations] ([ChoiceID], [LanguageID], [Choice]) VALUES (529, 44, N'African-American/Black')
INSERT INTO [dbo].[ChoicesTranslations] ([ChoiceID], [LanguageID], [Choice]) VALUES (529, 149, N'Afroamericano/Negro')
INSERT INTO [dbo].[ChoicesTranslations] ([ChoiceID], [LanguageID], [Choice]) VALUES (531, 44, N'Asian/Pacific Islander')
SET ROWCOUNT 0

PRINT(N'Add 15 rows to [dbo].[SymptomCategoryChoices]')
INSERT INTO [dbo].[SymptomCategoryChoices] ([SymptomCategoryID], [ChoiceID]) VALUES (1, 1163)
INSERT INTO [dbo].[SymptomCategoryChoices] ([SymptomCategoryID], [ChoiceID]) VALUES (1, 1184)
INSERT INTO [dbo].[SymptomCategoryChoices] ([SymptomCategoryID], [ChoiceID]) VALUES (2, 1167)

PRINT(N'Add constraints to [dbo].[SymptomCategoryChoices]')
ALTER TABLE [dbo].[SymptomCategoryChoices] WITH CHECK CHECK CONSTRAINT [FK_Choices_SymptomCategory]
ALTER TABLE [dbo].[SymptomCategoryChoices] WITH CHECK CHECK CONSTRAINT [FK_SymptomCategoryChoices_SymptomCategory]

PRINT(N'Add constraints to [dbo].[ChoicesTranslations]')
ALTER TABLE [dbo].[ChoicesTranslations] WITH CHECK CHECK CONSTRAINT [FK_ChoicesTranslations_Choices]
ALTER TABLE [dbo].[ChoicesTranslations] WITH CHECK CHECK CONSTRAINT [FK_ChoicesTranslations_Languages]

PRINT(N'Add constraints to [dbo].[ChoicesKey]')
ALTER TABLE [dbo].[ChoicesKey] WITH CHECK CHECK CONSTRAINT [FK_ChoicesKey_QuestionsChoices]

PRINT(N'Add constraints to [dbo].[QuestionVersion]')
ALTER TABLE [dbo].[QuestionVersion] WITH CHECK CHECK CONSTRAINT [FK__QuestionV__Quest__1A9EF37A]

PRINT(N'Add constraints to [dbo].[QuestionsTranslations]')
ALTER TABLE [dbo].[QuestionsTranslations] WITH CHECK CHECK CONSTRAINT [FK_QuestionsTranslations_Languages]
ALTER TABLE [dbo].[QuestionsTranslations] WITH CHECK CHECK CONSTRAINT [FK_QuestionsTranslations_Questions]

PRINT(N'Add constraints to [dbo].[Choices]')
ALTER TABLE [dbo].[Choices] WITH CHECK CHECK CONSTRAINT [FK_Choices_Choices]
ALTER TABLE [dbo].[Choices] WITH CHECK CHECK CONSTRAINT [FK_Choices_Questions]
ALTER TABLE [dbo].[UserSurveyAnswers] WITH CHECK CHECK CONSTRAINT [FK_UserSurveyAnswers_Choices]

PRINT(N'Add constraints to [dbo].[SurveyTranslations]')
ALTER TABLE [dbo].[SurveyTranslations] WITH CHECK CHECK CONSTRAINT [FK_SurveyTranslations_Languages]
ALTER TABLE [dbo].[SurveyTranslations] WITH CHECK CHECK CONSTRAINT [FK_SurveyTranslations_Survey]

PRINT(N'Add constraints to [dbo].[Questions]')
ALTER TABLE [dbo].[Questions] WITH CHECK CHECK CONSTRAINT [FK_Questions_Survey]
ALTER TABLE [dbo].[UserSurveyAnswers] WITH CHECK CHECK CONSTRAINT [FK_UserSurveyAnswers_Questions]

PRINT(N'Add constraints to [dbo].[WCIDContentTranslations]')
ALTER TABLE [dbo].[WCIDContentTranslations] WITH CHECK CHECK CONSTRAINT [FK_WCIDContentTranslations_Languages]
ALTER TABLE [dbo].[WCIDContentTranslations] WITH CHECK CHECK CONSTRAINT [FK_WCIDContentTranslations_WCIDContent]

PRINT(N'Add constraints to [dbo].[SymptomCategoryTranslations]')
ALTER TABLE [dbo].[SymptomCategoryTranslations] WITH CHECK CHECK CONSTRAINT [FK_SymptomCategoryTranslations_Languages]
ALTER TABLE [dbo].[SymptomCategoryTranslations] WITH CHECK CHECK CONSTRAINT [FK_SymptomCategoryTranslations_Question]

PRINT(N'Add constraints to [dbo].[SurveyTypeTranslations]')
ALTER TABLE [dbo].[SurveyTypeTranslations] WITH CHECK CHECK CONSTRAINT [FK_SurveyTypeTranslations_Languages]
ALTER TABLE [dbo].[SurveyTypeTranslations] WITH CHECK CHECK CONSTRAINT [FK_SurveyTypeTranslations_SurveyType]

PRINT(N'Add constraints to [dbo].[Survey]')
ALTER TABLE [dbo].[Survey] WITH CHECK CHECK CONSTRAINT [FK_Survey_SurveyType]
ALTER TABLE [dbo].[SurveyWeek] WITH CHECK CHECK CONSTRAINT [FK_SurveyWeek_Survey]
ALTER TABLE [dbo].[UserSurvey] WITH CHECK CHECK CONSTRAINT [FK_UserSurvey_Survey]
ALTER TABLE [dbo].[UserSurveyOrder] WITH CHECK CHECK CONSTRAINT [FK_UserSurveyOrder_Survey]

PRINT(N'Add constraints to [dbo].[BadgeTranslations]')
ALTER TABLE [dbo].[BadgeTranslations] WITH CHECK CHECK CONSTRAINT [FK_BadgeTranslations_Badge]
ALTER TABLE [dbo].[BadgeTranslations] WITH CHECK CHECK CONSTRAINT [FK_BadgeTranslations_Languages]

PRINT(N'Add constraints to [dbo].[BadgeSurveyType]')
ALTER TABLE [dbo].[BadgeSurveyType] WITH CHECK CHECK CONSTRAINT [FK_BadgeSurveyType_Badge]
ALTER TABLE [dbo].[BadgeSurveyType] WITH CHECK CHECK CONSTRAINT [FK_BadgeSurveyType_SurveyType]
ALTER TABLE [dbo].[BadgeWeek] WITH CHECK CHECK CONSTRAINT [FK_BadgeWeek_Badge]
ALTER TABLE [dbo].[UserBadge] WITH CHECK CHECK CONSTRAINT [FK_UserBadge_Badge]
COMMIT TRANSACTION
GO
